.TeamWallets>ul>li {
    list-style: none;
    font-size: 16px;
    line-height: 140%;
    list-style: none;
    display: flex;
    grid-gap: 20px;

}

.TeamWallets>ul {
    grid-gap: 35px;
    justify-content: space-between;
    display: flex;
    
}

.TeamWallets>ul>li>a {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    color: #4B7EFF;
    font-size: 16px;
    line-height: 180%;
    text-decoration-line: underline;
}

.TeamWallets button {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 140%;
    color: #FF4343;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    cursor:pointer;

}

.TeamWallets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.WalletAddress {
    display: flex;
    padding-left: 20px;
    grid-gap: 10px;
}

.WalletAddress input {
    Width: 200px;
    Height: 40px;
    background: #0A1A25;
    border-radius: 6px;
    color:#ffff;
    border: none;
    padding-left: 10px;
}

.WalletAddress button {
    font-size: 16px;
    color: #4AFF72;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    cursor:pointer;

}

#Save-btn {
    width: 104px;
    height: 35px;
    color: #ffff;
    background: radial-gradient(99.13% 2030.89% at 0.87% 55.26%, #E256E4 0%, #3973E3 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border-radius: 6px;
    border: none;
    cursor:pointer;
    margin: 15px 0 0 190px;
}